/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


* { 
	font-family: 'Noto Sans KR', sans-serif;
	padding: 0;
	margin: 0; 

    text-decoration: none;
    color: black;

    list-style: none;
}

header {
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    /* background-color: #f5f5f5; */
    margin-bottom: 50px;
}

main { margin: 50px 0; }
footer { margin-top: 100px; }

button:hover { cursor: pointer; }
input:focus { outline: none; }
input
{
	border: none;
	border-bottom: solid #B0B0B0 1px ;
	/*width: 330px;*/
}



input[type="number"] {
	border: none;
	border-bottom: solid black 1px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}




#app {
    width: 100vw;
    height: 100vh;
}

#container {
	width: 1144px;
    margin: 0 auto;
   
}


/* HEADER */

#header-menu > div {
	display: flex;
}
#header-menu a {
    padding-left: 10px;
}

/* MAIN */
#app-login {
	width: 100%;
	height: 100%;
			
}

#login-cover, #signup-cover {
	width: 50%;
	height: 100%;
	background-image: url(https://images.unsplash.com/flagged/photo-1556637640-2c80d3201be8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align:center; margin:0px auto;
	overflow: hidden;
	 text-align:center; margin:0px auto;
}

#login-container, #signup-container {
	width: 50%;
	display:flex;
	justify-content: center;
	align-items: center;
}

#signup-wrap {
	display: flex;
	align-items: conter;
}

#pw-container { 
	display: flex;
	
}

#slider-container {
	width: 100%;
	height: 200px;
	
	background-color: #F5F5F5
}

#slider-container {
    width: 100%;
    height: 200px;
    
    background-color: #F5F5F5
}

.slider-controller {
    cursor: pointer;
}

#search-container {
    display: flex;
    justify-content: center;
    
    border: none;
}

#search-result {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-gap: 16px;
}

.info-wishcount {
	display: flex;
}


#search-input:focus {
	outline: none;
}

#brand-filter-container {
	display: flex; 
	justify-content: center;
	
	margin: 40px 0;
}

.filter-item {
	
	width: 80px; 
	height: 100px; 
	margin: 0 10px;
	text-align: center;
	cursor: pointer;
}

.filter-item div:nth-child(1) {
	width: 50px; 
	height: 50px;
	
	margin: 0 auto;
	background-color: #F5F5F5;
}

.filter-item div:nth-child(2) {
	margin-top: 4px;
	
	text-align: center;
}

.filter-item-cover {
	background-color:white;
	background-repeat: no-repeat;
	background-size: cover;
}

.result-item-cover {
	width: 272px;
	height: 263px;
	border: none;
	/*background-color: #F5F5F5;*/
	background-size: cover;
}
.result-item:hover {
	cursor: pointer;
	/* box-shadow: 0 3px 6px rgb(0, 0, 0, 0.16); */
}
.result-item-info { margin-top: 10px; }

.info-validation { display: flex; }

#support-container { display: flex; }
#support-nav-container {
    width: 250px;
    margin-right: 100px;
}
#support-container-content { bwidth: 100%; }
#support-nav-container div {
    margin-bottom: 20px;
}

#container-content-header {

    margin-bottom: 10px;
    border-bottom: solid black 1px;
    padding-bottom: 10px;
}

.notice_wrap { margin-bottom: 10px; }

#notice-head-n {
    width: 50px;
    text-align: left;
}
#notice-head-title { text-align: left; }
#notice-head-date { width: 80px; }
#notice-table, #faq-tatble, #help-table, #mypage-table, #wishlist-table {
    width: 100%;
    border-collapse: collapse;
}
#notice-table tbody{
    vertical-align: top;
}
#notice-head {
    /* border-bottom: solid black 1px; */
}
#notice-head, #notice-item { height: 30px; }

#help-input-content {
	width:100%; 
	height:300px; 
	resize: none;	
}

.default-button {
	width:110px;
	height:50px;
	
	display: table-cell; 
	margin: 10px 10px;
	vertical-align: middle;
	
	color:white;
	background-color:none;
	border: none;
	
	text-align: center
}

.button-positive { background-color: #5ED1E9; }
.button-negative { background-color: #E95E5E; }

#mypage-table {
	width: 100%;
	border-collapse: collapse;
}
#mypage-table tr { height: 80px; }
#mypage-head { width:100px; }


#wishlist-table { margin-top: 50px }
#wishlist-head, #wishlist-item { height: 50px }
#wishlist-head-n {
	width:70px;
}
#wishlist-head-seller{
	width:100px
}

#wishlist-head-n, #wishlist-item-n,
#wishlist-head-title, #wishlist-item-title {
	text-align: left;
}

#wishlist-head-seller, .wishlist-item-seller { text-align: center; }
#wishlist-item:hover {
	background-color: #F5F5F5;
}

#mychat-wrap {
	background-color: #F5F5F5;
	border-left: solid black 1px;
}
#mychat-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	
	margin-top: 50px;
	
	border: solid black 1px;
	
}

.mychat-list-item {
	display: flex;
	padding: 10px;
	border-bottom: solid black 1px;
}

.mychat-list-item:hover {
	cursor: pointer;
	background-color: #F5F5F5;
}

#chat-view {

    height:500px;
    margin: 8px; 
    overflow: scroll;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
   
}
#chat-view::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

#chat-input {
    width: 550px;
    margin-right: 10px; 
    padding: 0 10px; 
    border-radius: 10px;
    border: solid rgb(200, 200, 200) 1px
}
.msg-view {
    display: flex; 
    margin-bottom: 24px;
}
.msg-view-i {
    display: flex; 
    justify-content: flex-end;
    margin-bottom: 24px;
}
.msg-pic {
    width: 50px;
    height: 50px;

    background-color: bisque;
    border-radius: 100%;
}
.msg-content {
    margin-left:8px;
    margin-right: 8px;
}

.msg-content-notice {
    margin: 0 auto; 
    padding: 4px 16px; 
    border: none; 
    border-radius: 20px; 
    background-color: white;
    font-size: 16px;
}

.msg-content-name {
    font-weight: 700;
    padding-bottom: 4px;
}

.msg-content-text {
    display: inline-block; 
    max-width: 500px; 
    word-break: break-all; 
    border-radius: 8px;
    min-width: 10px;
    background-color: yellow;
    padding: 8px;
}
.msg-date {
    display:flex; 
    align-items:flex-end;
    font-size: 12px;
    padding-bottom: 2px;
}

#editor { width : 100%; }


/* FOOTER */
#footer-nav  {
    display: flex;
    margin-top: 10px
}
#footer-nav a {
    padding-right: 20px;
}

#footer-notice {
	margin-top: 10px;
}

